* {
  vertical-align: baseline;
  font-family: sans-serif;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-container {
  position: relative;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

/*  SEARCH BAR */

.query-wrapper {
  /* position: absolute;
  left: 0;
  top: 0; */
  margin: 2rem;
  min-width: 120px;
  background-color: blue;
  opacity: 0.6;
}

/* .search-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
} */

.bi-search {
  font-size: 1.1rem;
}

.weather-query {
  appearance: none;
  padding: 0.5rem;
  padding-right: 2.2rem;
  background-color: transparent;
  border-bottom: 2px solid black;
}

.weather-query:focus {
  outline: none;
  border: 2px solid black;
}

/*  CURRENT WEATHER */

.weather-container {
  min-width: 450px;
}

.current-weather,
.weather-conditions {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-left: 2rem;
}

.current-weather {
  border: 1px solid blue;
}

.cw--icon i {
  position: absolute;
  font-size: 6rem;
  right: 0;
}

.cw--weather-status {
  font-size: 2rem;
  font-weight: 700;
}

.cw--temperature {
  display: flex;
}

.cw--temp-value {
  font-size: 3rem;
}

.cw--temp-unit {
  font-size: 1.5rem;
}

.weather-conditions {
  border: 1px solid red;
}

.weather-condition {
  padding: 1rem 0;
}

/* FORECAST */

.forecast-container--hourly,
.forecast-container--daily {
  display: flex;
}

.forecast-container--daily {
  flex-direction: column;
}

.forecast-element {
  padding: 1rem;
  border: 1px solid black;
}

.forecast-element--daily {
  display: flex;
  padding: 1rem;
}

.forecast-day {
  width: 250px;
}

.forecast-container--hourly {
  max-width: 600px;
  overflow-x: auto;
}

/*
.weather-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-start; 
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.sub-container {
  position: relative;
  padding: 1rem;
  min-width: 400px;
}

.forecast-icon.cw--icon .wi {
  position: absolute;
  right: 10%;
  font-size: 3.5rem;
}

.cw--location {
  font-size: 1.25rem;
}

.cw--weather-status {
  max-width: 300px;
  font-size: 2rem;
}

.cw--temperature {
  font-size: 2.4rem;
}

.weather-condition {
  padding: 0.5rem 0;
}

*/

/*  FORECAST ELEMENTS */

/*
.forecast-container {
  position: relative;
  height: 50vh;
}

.forecast-container--hourly {
  display: flex;
  overflow-x: auto;
  height: 100%;
}

.forecast-toggle-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 1rem;
  left: 1rem;
}

.forecast-toggle {
  margin: 0.25rem 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.forecast-dot-wrapper {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.forecast-dot {
  width: 15px;
  height: 15px;
  margin: 0 1rem;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.forecast-dot-back,
.forecast-dot-next {
  font-size: 2rem;
}

.forecast-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 2.5rem;
  width: fit-content;
}

.forecast-hour {
  font-size: 1.2rem;
}

.forecast-temp {
  font-size: 1.6rem;
}

.forecast-container--daily {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  overflow-x: auto;
}

.forecast-element--daily {
  padding: 1rem 2rem;
  width: 14%;
  min-width: 150px;
  overflow-x: auto;
}

.forecast-rain {
  color: rgb(43, 142, 255);
}

.wi {
  font-size: 3rem;
  padding: 1rem 0 2rem;
}

*/

/*  HELPER STYLES */

.hidden {
  display: none;
}
