/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-bebas: 'Bebas Neue', Verdana, Geneva, Tahoma, sans-serif, monospace;
  --font-raleway: 'Raleway', Arial, Helvetica, sans-serif, monospace;
  --font-montserrat: 'Montserrat', Arial, Helvetica, sans-serif, monospace;
  --font-poppins: 'Poppins', Arial, Helvetica, sans-serif, monospace;
  --font-open-sans: 'Open Sans', Arial, Helvetica, sans-serif, monospace;
  --font-nunito-sans: 'Nunito Sans', Arial, Helvetica, sans-serif, monospace;
}

body {
  background-color: #cfd4fa;
}

/* CONTAINER */
.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'main main main main'
    'hourly hourly daily daily'
    'uv sunrise wind rainfall'
    'index humidity visibility pressure'
    'footer footer footer footer';
  gap: 18px;
  max-width: 1000px;
  margin: 0 auto 80px;
}

.display-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  background-color: rgba(80, 47, 201, 0.15);
  font-family: var(--font-poppins);
}

.display-box.weather--daily-forecast,
.display-box.weather--hourly-forecast {
  aspect-ratio: auto;
}

.db-label {
  font-family: var(--font-open-sans);
  font-size: 0.85rem;
  text-transform: uppercase;
  color: rgb(59, 59, 59);
}

.db-label--icon {
  color: rgba(59, 59, 59, 0.726);
  font-size: 0.95rem;
}

.db-value {
  font-size: 2rem;
  margin: 20px 0;
  display: inline-block;
}

.db-desc {
  position: absolute;
  bottom: 20px;
  font-size: 0.85rem;
  overflow-wrap: break-word;
  max-width: 80%;
}

.absolute-elements--wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--font-nunito-sans);
}

.search-bar--wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  padding: 9px 10px 9px 30px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.61);
  background-color: rgba(255, 255, 255, 0.9);
  width: 180px;
  transition: 0.15s linear;
}

.search-bar::placeholder {
  font-size: 0.85rem;
}

.search-bar:focus,
.search-bar:hover {
  border: 1px solid rgb(137, 137, 255);
  outline: none;
}

.search-bar:focus {
  width: 300px;
}

.btn-search {
  position: absolute;
  right: 5px;
  border-radius: 30px;
  border: none;
  box-shadow: none;
  height: 25px;
  width: 25px;
  background-color: rgba(43, 42, 110, 0.5);
  padding: 1px;
}

.btn-search:active,
.btn-search:focus,
.btn-search:hover {
  background-color: #424870;
}

.btn-search--icon {
  font-size: 1rem;
  margin-top: 4px;
  color: white;
}

.btn-convert--wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-convert {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgba(179, 179, 179, 0.24);
  padding: 8px 10px;
  border: none;
  border-radius: 30px;
  width: 110px;
  color: rgb(51, 51, 51);
}

.btn-convert--active {
  background-color: rgba(61, 79, 117, 0.788);
  color: white;
}

.btn-convert--label {
  font-size: 1.2rem;
}

.btn-convert--subtext {
  font-size: 0.75rem;
}

/* WEATHER DISPLAY */

.weather--main {
  position: relative;
  grid-area: main;
  height: clamp(240px, 35vh, 400px);
  margin: 0 auto;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--font-poppins);
}

.main--icon {
  position: absolute;
  right: -65%;
  font-size: 4.5rem;
  transform: translateY(-20%);
  color: rgb(44, 44, 44);
}

.main--temp .db-unit {
  font-size: 3.2rem;
  vertical-align: top;
}

.main--location {
  font-size: 1.5rem;
}

.main--temp {
  font-size: 5rem;
}

.main--location,
.main--desc {
  text-transform: capitalize;
}

.main--temp-extreme {
  display: flex;
  gap: 10px;
}

.weather--hourly-forecast {
  grid-area: hourly;
}

.hourly--cards-wrapper {
  display: flex;
  gap: 10px;
  height: 100%;
  overflow-x: auto;
}

.hourly--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 8px;
  padding: 5px 10px;
}

.hourly--hour {
  font-size: 0.95rem;
}

.hourly--icon {
  font-size: 1.65rem;
}

.hourly--temp {
  font-size: 1.05rem;
}

.weather--daily-forecast {
  grid-area: daily;
  height: 200px;
}

.daily--cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.daily--card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
  margin-right: 20px;
}

.daily--day {
  width: 35%;
}

.daily--icon {
  font-size: 1.5rem;
}

.daily--temp {
  display: flex;
  align-items: center;
}

.daily--temp-slider {
  width: 100px;
  height: 7px;
  margin: 0px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.342);
  background: linear-gradient(
    90deg,
    rgba(255, 188, 0, 0.7) 0%,
    rgba(255, 165, 0, 0.7) 35%,
    rgba(255, 72, 0, 0.7) 80%,
    rgba(255, 0, 0, 0.7) 100%
  );
}

.wind--icon {
  font-size: 1.25rem;
}

.weather--footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  font-family: var(--font-nunito-sans);
  margin-top: 15px;
}

.weather-footer--desc {
  font-size: 0.8rem;
}

.weather-footer--desc,
.weather-footer--desc a:visited,
.weather-footer--desc a:link {
  color: rgb(83, 83, 83);
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  margin-top: 2.4rem;
  padding: 1rem;
  color: #5e67a3;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-desc {
  font-family: 'Comfortaa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  padding-left: 1em;
  text-align: center;
  font-size: 0.8rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #424870;
}

/* HELPERS */

.hidden {
  display: none;
}
